.bulletin-board__form ::-webkit-input-placeholder {
  color: #b9b9b9;
  font-size: 14px;
}
.bulletin-board__form :-moz-placeholder {
  color: #b9b9b9;
  font-size: 14px;
}
.bulletin-board__form .placeholder {
  color: #b9b9b9;
  font-size: 14px;
}
.board{
  margin-top: 10px;
}
.bulletin-board{
  margin-bottom: 19px;
}
.bulletin-board__item{
  padding: 3px 18px 14px;
  margin-bottom: 21px;
  background: #fbf9f6;
  border: 1px solid #eae0d2;
  border-top: 3px solid #ffd08f;
  color: #000;
  font-size: .14em;
  line-height: 24px;
}
.bulletin-board__name{
  color: $bulletin-name-color;
}
.bulletin-board__title{
  margin-bottom: 28px;
  font-size: .20em;
  text-align: center;
}
.bulletin-board__form{
  width: 100%;
  padding: 20px 17px;
  background: $bulletin-item-back;
  border: 1px solid $bulletin-item-border-bottom;
  color: $bulletin-name-color;
}
.bulletin-board__form fieldset{
  margin-bottom: 25px;
  font-size: .14em;
}
.bulletin-board__form input{
  padding-left: 10px;
  display: inline-block;
  vertical-align: middle;
  height: 34px;
  width: 100%;
  border: 1px solid $bulletin-item-border-bottom;
}
.bulletin-board__form .bulletin-board__sum input{
  width: 170px;
  margin: 0 3%;
}
.bulletin-board__form label{
  display: block;
  width: 100%;
  margin-bottom: 9px;
  font-size: 14px;
}
.bulletin-board__form select{
  display: inline-block;
  vertical-align: middle;
  height: 34px;
  width: 207px;
  margin-left: 9px;
  border: 1px solid #eae0d2;
  color: #232323;
  font-size: 14px;
}
.bulletin-board__form textarea{
  height:97px;
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid $bulletin-item-border-bottom;
  font-size: 14px;
}
.bulletin-board__enter input{
  width: calc(100% - 168px);
}
.bulletin-board__enter-pic{
  display: inline-block;
  vertical-align: middle;
  width: 160px;
  height: 34px;
}
.bulletin-board__enter-pic img{
  width: 100%;
  height: 100%;
}
.bulletin-board__sum{
  margin-bottom: 19px;
}
.bulletin-board__details{
  margin-bottom: 9px;
}
.bulletin-board__enter{
  margin-bottom: 16px;
}
.bulletin-board__form .btn {
  padding: 0 38px;
}

@media (min-width: $tablet-portrait) {
  .board{
    margin-top: 45px;
  }
}
@media (min-width: $desktop) {
  .board{
    padding: 0 10px;
  }
  .bulletin-board{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .bulletin-board__wrap{
    width: calc(100% - 336px);
  }
  .bulletin-board__form{
    width: 312px;
  }
}

@media (min-width: $hd) {

}