.contact {
  padding: 45px 10px 29px;

  &__info{
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    margin-bottom: 39px;
    padding-left: 7px;

    &-item{
      position: relative;
      margin-right: 98px;
      padding-left: 30px;
      color: #604136;
      font-size: .14em;
      font-style: normal;
      line-height: 18px;

      a{
        color: #000;
        cursor: default;
      }

      strong{
        color: #000;
        font-size: 1.14em;
      }

      &:before{
        position: absolute;
        top: 0;
        left: 3px;
        width: 18px;
        height: 21px;
        background: url(../img/icons-contacts.png) no-repeat 50% 0;
        content: '';
      }

      &_email:before{
        background-position: 0 -81px;
      }

      &_address:before{
        background-position: 0 -37px;
      }

    }

  }

  &__wrap{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 16px;

    &-item{
      width: 32%;
      max-width: 310px;
      margin-bottom: 22px;
      padding: 4px 19px 11px;
      border: 1px solid #eae0d2;
      border-top-width: 3px;
      border-top-color: #006d88;
      background-color: #fbf9f6;
      font-size: .14em;
      line-height: 24px;

      &-bigger{
        width: 50%;
        max-width: 473px;
      }

      &_1{
        border-top-color: #94c11f;
      }

      &_2{
        border-top-color: #704303;
      }

      &_3{
        border-top-color: #bed63a;
      }

      &_4{
        border-top-color: #b504b7;
      }

      a{
        color: #000;
        cursor: default;
      }

    }

  }

  &__form{
    max-width: 740px;
    padding: 21px 25px 20px 17px;
    border: 1px solid #eae0d2;
    background-color: #fbf9f6;
    font-size: .14em;
    text-align: center;

    &-topic{
      margin-bottom: 29px;
      color: #604136;
      font-size: 1.44em;
    }

    &-btn{
      width: 145px;
    }

  }

  &__fieldset{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    text-align: left;

    &_1{
      align-items: flex-start;
      margin-bottom: 23px;
    }

    label{
      width: 85px;
      padding-top: 6px;
      color: #604136;
      line-height: 22px;
    }

    input, textarea{
      width: 607px;
      height: 33px;
      padding: 0 10px;
      border: 1px solid #eae0d2
    }

    textarea{
      height: 150px;
      padding: 10px;
    }

  }

}

#map{
  width: 100%;
  height: 609px;
  margin-bottom: 40px;
}

@media (min-width: $tablet-portrait) {

  .contact {

  }

}

@media (min-width: $desktop) {

  .contact {

  }

}