.forms {
  margin-bottom: 15px;

  &__wrap{
    padding-top: 10px;
  }

  &__item{
    margin-bottom: 20px;
    padding: 18px 15px 14px;
    color: $forms-color;
    font-size: .22em;

    &_1{
      background-color: $forms-back-1;
    }

    &_2{
      background-color: $forms-back-2;
    }

    &_3{
      background-color: $forms-back-3;
    }

    &_4{
      border: 1px solid $forms-border-4;
      background-color: $forms-back-4;
      color: $forms-color-4;
      text-align: center;

      input{
        border: 1px solid $forms-input-border-4!important;
      }

    }

    &_call{
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      border: 1px solid $forms-border-call;
      color: $forms-color-call;
      font-size: .22em;
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;
      cursor: default;
    }

    &_gallery{
      display: flex;
      justify-content: center;
      align-items: center;
      background: url('../pic/img-008.jpg') no-repeat center/cover;
      text-transform: uppercase;
      text-decoration: underline;

      &:hover{
        text-decoration: none;
      }

    }

    fieldset{
      margin-bottom: 20px;
    }

    label{
      display: inline-block;
      vertical-align: middle;
      width: 109px;
      margin-bottom: 10px;
      font-size: .81em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
    }

    input{
      width: 100%;
      height: 33px;
      padding: 0 10px;
      border: none;
    }

  }

  &__title{
    margin-bottom: 20px;

    &-text{
      font-weight: 600;
      text-transform: uppercase;
    }

  }

  &__btn-wrap{
    text-align: center;
  }

  &__phone{
    display: block;
    margin-top: 40px;
    padding: 7px 15px 3px;
    border-bottom: 1px solid $forms-border-phone;
    background-color: $forms-back-phone;
    color: $forms-color-phone;
    font-size: .9em;
    font-weight: 400;

    span{
      display: inline-block;
      vertical-align: middle;
      position: relative;
      top: -2px;
      font-size: 1.37em;
      font-weight: 600;
    }

  }

}

@media (min-width: $tablet-portrait) {

  .forms {

    &__wrap{
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      padding: 10px 10px 0;

      &_2{
        justify-content: center;
      }

    }

    &__item {
      width: 350px;
      margin-bottom: 0;
      padding: 18px 21px 14px;
    }

    &__phone{
      font-size: 1.09em;
    }

  }

}

@media (min-width: $desktop) {

  .forms {

    &__item {
      width: 472px;
    }

    fieldset{
      margin-bottom: 40px;
    }

    label{
      margin-bottom: 0;
    }

    input{
      width: 312px;
    }

    &__title{
      margin-bottom: 31px;
    }

    &__btn-wrap{
      margin-top: -24px;
    }

  }

}

@media (min-width: $hd) {

  .forms__item {
    width: 625px;
  }

}