.header-wrap {

  &__info{
    height: inherit;
    padding: 3px 5px 4px 10px;
    font-weight: 500;
    line-height: 22px;
    background-color: $header-wrap-info;

    a {
      color: $header-wrap-info-color;
      cursor: default;
    }

    strong {
      margin-right: 12px;
      font-size: 1.42em;
      font-weight: 600;
    }

  }

}

@media (min-width: $tablet-portrait) {

  .header-wrap {
    height: 63px;

    &__info{
      width: 330px;
      padding: 8px 5px 0 15px;
    }

  }

}