.our-projects {
  padding-bottom: 1px;
  background-color: $our-projects-back;
  
  &__item{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 0 20px;
    color: $our-projects-color;
    line-height: 18px;
    text-decoration: underline;

    img{
      margin-right: 10px;
    }

  }

  &__current-item{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 7px 20px;
    color: #fff;
    line-height: 18px;
    background-color: #849839;

    img{
      margin-right: 10px;
    }

    &_1{
      background-color: #31067a;
    }

    &_2{
      background-color: #035569;
    }

    &_3{
      background-color: #82ae0b;
    }

  }

}

@media (min-width: $tablet-portrait) {

  .our-projects {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-bottom: 0;

    &__item{
      width: 235px;
      padding: 4px 10px 6px;
      margin-bottom: 0;
    }

    &__current-item{
      padding: 4px 5px 6px 10px;
      margin-right: 10px;
      margin-bottom: 0;
    }

  }

}

@media (min-width: $desktop) {

  .our-projects {
    min-height: 50px;
  }

}