.promo-frame {
  border: 2px solid #90826f;
  background-color: #90826f;

  &__wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1004px;
    margin: 0 auto;
  }

  img{
    display: block;
    width: 100%;
  }

}

@media (min-width: $tablet-portrait) {

  .logo {

  }

}

@media (min-width: $desktop) {

  .logo {

  }

}