.social {
  width: 120px;
  margin-bottom: 10px;

  &__item{
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-right: 8px;
    background: url('../img/social.png') no-repeat 0 0;
    transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;

    &_fb{
      background-position: 0 0;
    }

    &_vk{
      background-position: -30px 0;
    }

    &_ig{
      background-position: -60px 0;
    }

  }

  &_header{
   display: none;

    .social__item{

      &_fb{
        background-position: 0 -21px;
      }

      &_vk{
        background-position: -30px -21px;
      }

      &_ig{
        background-position: -60px -21px;
      }

    }

  }

  &_aside{
    position: static;
    width: auto;
    padding-left: 18px;
    font-size: 0;

    .social__item{
      width: 25px;
      height: 25px;
      margin-right: 11px;
      background: url('../img/social-aside.png') no-repeat 0 0;

      &_fb{
        background-position: 0 0;
      }

      &_vk{
        background-position: -36px 0;
      }

      &_ig{
        background-position: -72px 0;
      }

    }

  }

  &_aside-1 .social__item{

    &_fb{
      background-position: 0 -30px;
    }

    &_vk{
      background-position: -36px -30px;
    }

    &_ig{
      background-position: -72px -30px;
    }

  }

}

@media (min-width: $tablet-portrait) {

  .social_header {
    display: block;
    position: absolute;
    top: 23px;
    right: 349px;
    width: auto;
  }

}

@media (min-width: $desktop) {

  .social {
    position: absolute;
    top: 17px;
    right: 10px;
    margin-bottom: 0;

    &__item{

      &:hover{
        opacity: .8;
      }

    }

    &_header {
      top: 23px;
      right: 308px;
    }

    &_aside{
      position: static;
    }

  }

}

@media (min-width: $hd) {

  .social {

    &_header {
      right: 298px;
    }

  }

}